# Configuration file

~CONFIG_VERSION: 0.1.0

world-1086973082 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@roots
    B:overlayEnabled=true
}


world-1571454908 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=redstone
    B:overlayEnabled=true
}


world-1793304506 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=lever
    B:overlayEnabled=true
}


world-1793304507 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=dri
    B:overlayEnabled=true
}


world-1793304509 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=ore
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@foun
    B:overlayEnabled=true
}


world1299497933 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1613441792 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1690200850 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=@refined

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world457561284 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world457561288 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world457561289 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world457561290 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world457561291 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


